<app-base-table [list]="people">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Nationality</th>
    </tr>
</app-base-table>

<br />

<app-base-card [item]="people[0]">
    <section title align="center">
        {{ people[0].name }}
    </section>
    <section image>
        <img src="../../assets/img_avatar.png" alt="Avatar" style="width:100%">
    </section>
    <section info align="center">
        {{ people[0].nationality }}
    </section>
</app-base-card>

<br />

<app-conditional>
    <ng-template appConditionalComponent>
        It depends on what you do with it.
    </ng-template>    
</app-conditional>

<br /><br />

<ng-container ngProjectAs="[info]">
    This is the info property from the baseCard component applied somewhere else: <strong>{{ people[0].nationality }}</strong>
</ng-container>
